{% extends "Publications/base.html" %}
{% block content %}

<body>
<section class="header">

    {% for article in publications %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{level}}</h4></div>
          <div class="panel-body">
              <p>Author name : <b>{{article.author}}</b></p> 
          </div>
        <div class="panel-body">
            <p>Year Published : <b>{{article.year}}</b></p> 
          </div>
                <div class="panel-body">
                    <p>Title : <b>{{article.title}}</b></p>
          </div>
                <div class="panel-body">
           <p>{{article.text|linebreaks}}</p> 
          </div>
    </div>
    {% endfor %}



</section>
<style>
    #background{
        backface-visibility: hidden;
    }

</style>
<body>
{% endblock content %}