{% extends "Publications/base.html" %}
{% block content %}

  <!--{{form.as_p}}-->

   <!-- {% csrf_token %}
        {{form.username.label}}
        {{form.username}}
        
        {{form.email.label}}
        {{form.email}}
    
        {{form.password1.label}}
        {{form.password1}}
    
        {{form.password2.label}}
        {{form.password2}}-->

<body class="header">
    <div class="alert alert-info" role="alert">1) Please Use a UNIQUE : <b>USERNAME and VALID EMAIL </b><br>2) DONOT use Space in User Name</div>
    
    <div class="container text2">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header"><FONT COLOR="#ffffff"><h2><b>Register</b></h2></FONT></div>
                            <div class="card-body">

                                <form action="{% url 'users:register' %}" method="post" class="form-horizontal"  >
                                    {% csrf_token %}

                                    <!--<div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name">
                                            </div>
                                        </div>
                                    </div>-->
                                    
                                    <div class="form-group">
                                        <label for="username" class="cols-sm-2 control-label"><FONT COLOR="#ffffff"><b>Username</b></FONT></label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                               <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                
                                                  {{form.username}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label"><FONT COLOR="#ffffff"><b>Your Email</b></FONT></label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                {{form.email}}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label"><FONT COLOR="#ffffff"><b>Password</b></FONT></label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    {{form.password1}}
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label"><FONT COLOR="#ffffff"><b>Confirm Password</b></FONT></label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                
                                                {{form.password2}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                       
                                        <button name="submit"  class="btn btn-primary btn-lg btn-block login-button">Register</button>
                
                                    </div>
                                    <div class="login-register">
                                        <a href="{% url 'users:login' %}">Login</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
</div>	
    <script type="text/javascript">
		</script>


</body>

{% endblock content %}